.events-monitor .card {
  height: fit-content; }
  .events-monitor .card .card-header small {
    font-variant: petite-caps; }
  .events-monitor .card .card-header img.avatar {
    border: 0.1px solid rgba(0, 0, 0, 0.3); }
