@inherits EventsPanelView
@using Sufficit.Telephony.EventsPanel
<div class="events-panel">
    <CascadingValue Value="@Panel" IsFixed="true">            
        <EventsPanelViewRefresh @ref="ViewRefreshComponent">
            @if (Exception != null)
            {
                <div class="alert alert-danger mb-0 m-3 text-white">
                    @Exception.Message
                </div>
            }

            <EventsPanelStats></EventsPanelStats>

            @if (ShowFilter)
            {
                <MudItem xs="12" sm="12" md="12" lg="12">
                    <EventsPanelStatsFilter Filtering="@Filtering"></EventsPanelStatsFilter>
                </MudItem>
            }

            @if (Panel.HasCards())
            {    
                <EventsPanelCardArea Cards="Panel.Cards" Pagging="Pagging" Filtering="Filtering"></EventsPanelCardArea>
            }
        </EventsPanelViewRefresh>        
    </CascadingValue>
</div>